@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

:root {
    --left-panel-color: #002233;
    --color_text: #FFFFFF;
    --width-left-aria: 240px;
}

aside {
    background: var(--left-panel-color);
    color: var(--color_text);
    float: left;
    width: var(--width-left-aria);
    flex-shrink: 0; /* не сжимается */

    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--text-weight-left-aria);
    font-style: normal;
    font-variation-settings: var(--text-width-left-aria);

    font-size: var(--font-size-left-aria);
}

.nav_bar {
    width: fit-content;
}

.nav_element{
    margin-top: 20px;
    margin-bottom: 20px;
}