:root{
    --color-back-card: #18181B;
    --color-text-description: #7D7D7D;
    --text-weight-card: 400;
    --text-width-card: 100;
    --font-size-card: 18px;
    --font-size-card-descrioption: 14px;
}

.header_text_style{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--text-weight-card);
    font-style: normal;
    font-variation-settings: var(--text-width-card);

    font-size: var(--font-size-card);
}

.group_card_main{
    width: 250px;
    height: 80px;
    background: var(--color-back-card);

    padding: 5px 10px;
    border-radius: 15px;
}

.description_text_style{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: var(--text-weight-card);
    font-style: normal;
    font-variation-settings: var(--text-width-card);

    font-size: var(--font-size-card-descrioption);
    color: var(--color-text-description);
}