@use "../../styles/default/variables" as *;



@mixin background-navigation-color{
  background: $color-3;
}

@mixin background-hover-item{
  background: $color-6;;
}

@mixin text-color-item{
  color: $text-white-color;
}

// Card Mixins
@mixin text-logo-title {
  font-family: $font-family-all;
  font-size: $font-size-tg;
  font-weight: $font-weight-medium;
  line-height: 1.2;
  color: $text-white-color;
}

@mixin text-nav-item {
  font-family: $font-family-all;
  font-size: $font-size-base;
  font-weight: $font-weight-semi-bold;
  line-height: 1.2;
  color: $text-white-color;
}




