@use "index" as *;


@mixin orientation{
  display: flex;
  gap: 10px;
}

.orientationFlex{
  @include orientation;

  justify-content: center;
}

.navOrientationFlex{
  @include orientation;
  @include background-navigation-color;
  border-radius: 15px;
}

