:root {
    --text_color: #FFFFFF;
    --backround_color: #023047;
    --rigth_pannel_color: #004263;
    --left_pannel_color: #002233;
    --bacround_color_card: #18181B;
    --important_button_color5: #FFB703;
    --color_time: #FB8500;
    --deescription_color: #8ECAE6;
    --deescription_color_card: #828282;
    --gradient_color_up_border: #4361EE;
    --gradient_color_down_border: #F72585;
    --gradient_color_up_line: #00EFFF;
    --gradient_color_down_line: #000BFF;
}

body {
    background: var(--backround_color);
    color: var(--text_color);
}