@import "index.css";
:root{

    --width_left_panel: 240px;
    --border_radius_left_panel: 15px;


    --text_margin_left: 50px;
    --text_padding_vertical: 5px;

    --padding_vertical_panel: 20px;
}

.leftAside {
    background: var(--left_pannel_color);
    float: left;
    width: var(--width_left_panel);
    height: 100vh;
    padding-bottom: var(--padding_vertical_panel);
    padding-top: var(--padding_vertical_panel);

    border-top-right-radius: var(--border_radius_left_panel);
    border-bottom-right-radius: var(--border_radius_left_panel);
}

.textCenter{
    margin-left: var(--text_margin_left);
    padding-top: var(--text_padding_vertical);
    padding-bottom: var(--text_padding_vertical);
}